# Ignore specific folders
/data/dataset-romano/
/data/datasetESPOL/
/data/NINAPRO/
/data/processed_data/

# Ignore all .zip files inside the data directory
/data/*.zip

# Ignore all __pycache__ folders in all subdirectories
**/__pycache__/
